<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itors.eshop.dao.UserInfoDAO" >
  <resultMap id="BaseResultMap" type="com.itors.eshop.pojo.UserInfo" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_role" property="userRole" jdbcType="INTEGER" />
    <result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
    <result column="user_rela_name" property="userRelaName" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="create_dt" property="createDt" jdbcType="TIMESTAMP" />
    <result column="user_state" property="userState" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_name, user_role, phone_num, user_rela_name, create_user, create_dt, 
    user_state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.itors.eshop.pojo.UserInfo" >
    insert into user_info (user_id, user_name, user_role, 
      phone_num, user_rela_name, create_user, 
      create_dt, user_state)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userRole,jdbcType=INTEGER}, 
      #{phoneNum,jdbcType=VARCHAR}, #{userRelaName,jdbcType=VARCHAR}, #{createUser,jdbcType=INTEGER}, 
      #{createDt,jdbcType=TIMESTAMP}, #{userState,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.itors.eshop.pojo.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userRole != null" >
        user_role,
      </if>
      <if test="phoneNum != null" >
        phone_num,
      </if>
      <if test="userRelaName != null" >
        user_rela_name,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createDt != null" >
        create_dt,
      </if>
      <if test="userState != null" >
        user_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null" >
        #{userRole,jdbcType=INTEGER},
      </if>
      <if test="phoneNum != null" >
        #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="userRelaName != null" >
        #{userRelaName,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createDt != null" >
        #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="userState != null" >
        #{userState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itors.eshop.pojo.UserInfo" >
    update user_info
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null" >
        user_role = #{userRole,jdbcType=INTEGER},
      </if>
      <if test="phoneNum != null" >
        phone_num = #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="userRelaName != null" >
        user_rela_name = #{userRelaName,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createDt != null" >
        create_dt = #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="userState != null" >
        user_state = #{userState,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itors.eshop.pojo.UserInfo" >
    update user_info
    set user_name = #{userName,jdbcType=VARCHAR},
      user_role = #{userRole,jdbcType=INTEGER},
      phone_num = #{phoneNum,jdbcType=VARCHAR},
      user_rela_name = #{userRelaName,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=INTEGER},
      create_dt = #{createDt,jdbcType=TIMESTAMP},
      user_state = #{userState,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>